<div class="container mx-auto px-4 py-10 bg-white">
    <h1 class="text-3xl font-bold text-center mb-8">Dernières réalisations</h1>

    <div class="space-y-6">
        {% for peinture in peintures %}
            <!-- Card -->
            <a href="{{ path('realisation_details', {'slug': peinture.slug}) }}" class="block">
                <div class="flex flex-col md:flex-row bg-white shadow-lg rounded-lg overflow-hidden hover:shadow-xl transition duration-300">
                    <img src="{{ vich_uploader_asset(peinture,'imageFile') }}" alt="Réalisation" class="w-full md:w-1/3 object-cover">
                    <div class="p-6 flex flex-col justify-between">
                        <h2 class="text-xl font-semibold text-gray-900">{{ peinture.nom }}</h2>
                        <p class="text-gray-700 mt-2">{{ peinture.description|u.truncate(200,'...', false) }}</p>
                        <p class="text-gray-500 text-sm mt-4">Ajoutée le {{ peinture.createdAt|date('d/m/Y') }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
