{% extends 'base.html.twig' %}

{% block title %}Réalisations{% endblock %}

{% block body %}
    <div class="bg-white">
        <div class="container mx-auto px-4 py-10 bg-white max-w-screen-lg">
            <h1 class="text-3xl font-bold text-center mb-8">Réalisations</h1>

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
                {% for peinture in peintures %}
                    <!-- Card -->
                    <a href="{{ path('realisation_details', {'slug': peinture.slug}) }}" class="block bg-white shadow-lg rounded-lg overflow-hidden hover:shadow-xl transition duration-300">
                        <img src="{{ vich_uploader_asset(peinture,'imageFile') }}" alt="Réalisation" class="w-full h-56 object-cover">
                        <div class="p-6 flex flex-col justify-between">
                            <h2 class="text-xl font-semibold">{{ peinture.nom }}</h2>
                            <p class="text-gray-700 mt-2">{{ peinture.description | u.truncate(200, '...', false) }}</p>
                            <p class="text-gray-500 text-sm mt-4">Ajoutée le {{ peinture.createdAt|date('d/m/Y') }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        {% do peintures.setPageRange(2) %}
        {{ knp_pagination_render(peintures, 'base/pagination.html.twig')}}
    </div>
{% endblock %}
